@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Rubik');

#App {
  /*background: linear-gradient(#1765a5 0%, #005397 100%);*/
  background: #fff;
  background-size: cover;
  height: auto;
  min-height: 100%;
  padding-bottom: 0px !important;
}

.add-product .header, .add-product .content {
  background: #f9fafb !important;
}

.add-product .file-input input {
    background-color: #f9fafb !important;
    width: 80%;
    text-align: center;
    margin: 0 auto;
    border: none !important;
}

.add-product .file-preview {
  width: auto;
  height: 250px;
  margin: 0px auto;
  margin-bottom: 20px;
  text-align: center;
}

.ReactTable .rt-th, .ReactTable .rt-td {
  padding: 12px 5px !important;
}

.item a, a.item {
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  padding-bottom: 2px;
  border-bottom: 1px #fff dashed;
  font-family: 'Poppins', sans-serif;
}

.item a:hover, a:hover.item {
  color: #ddd !important;
}

.logo {
  border-right: 1px #5c45e4 solid !important;
  border-radius: 0 !important;
  margin-right: 30px !important;
}

.logo.item a {
  border-bottom: none;
}

.logo.item h2 {
  font-family: 'Rubik', sans-serif;
  letter-spacing: 8px;
}

h1 {
  font-family: 'Poppins' !important;
  font-weight: bold !important;
}

.ui.button {
  border-radius: 30px !important;
  font-family: 'Poppins' !important;
  font-weight: 400 !important;
}

.item.airport-name {
  background: #fff !important;
}

.item.airport-name a {
  color: #523dcc !important;
}

.ui.header.logo-header {
  font-family: 'Rubik' !important;
  color: #ffffff !important;
  font-weight: 600 !important;
  letter-spacing: 8px;
  text-transform: uppercase;
}

.search-container {
  width: 65%;
  min-width: 950px;
  text-align: center;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

input[type="text"], .ui.fluid.dropdown {
  border: 0px #523dcc solid !important;
  box-shadow: 0 0 7px rgba(0,0,0,0.1) !important;
  font-family: 'Poppins';
}

.filter-container {
  text-align: center;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: -30px;
  background: #523dcc05;
  padding: 10px 0px;
}

.filter-container * {
  margin: 0 20px;
}

.filter-container h3, .filter-container h4 {
  line-height:  40px;
}

.search-container input[type="text"] {
  border-radius: 30px !important;
  border: 0px #523dcc solid !important;
  box-shadow: 0 0 7px rgba(0,0,0,0.1) !important;
}

.ui.table.dash {
  margin-top: 30px !important;
  border: none !important;
  box-shadow: 0 0 20px rgba(0,0,0,0.1) !important;
}

.ui.table.dash thead th {
  background: #523dcc !important;
  text-align: inherit;
  color: rgb(255, 255, 255) !important;
  padding: 25px 20px !important;
  font-family: 'Poppins' !important;
  font-weight: 600;
}

.ui.table.dash thead tr>th:first-child {
  border-top-left-radius: 10px !important;
}
.ui.table.dash thead tr>th:last-child {
  border-top-right-radius: 10px !important;
}

.ui.table.dash tr td {
  padding: 15px 10px !important;
  font-family: 'Poppins' !important;
  font-weight: 400;
}

.login-form {
  max-width: 400px !important;
  margin: 0 auto;
  margin-top: 100px;
  padding: 80px;
  text-align: center;
  background: #523dcc;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0,0,0,0.1) !important;
}

.form-heading {
  color: #000 !important;
  font-size: 20px !important;
}

.form-heading i {
  color: #523dcc !important;
  font-size: 15px !important;
}

.ui.label {
  min-width: 40px;
  text-align: center;
}

.graph-container {
  margin-top: 40px !important;
}

.graph-grid {
  padding: 50px 10px !important;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
  text-align: center;
}

.ui.grid>[class*="two column"].row>.column.graph-grid {
  width: 48% !important;
  margin: 0 1% !important;
}